$padding: 10px;
$shahow: 0 2px 2px 0 rgba(0, 0, 0, 0.16),
0 0 0 1px rgba(0, 0, 0, 0.08);
.lazee {
    width: 300px;
    position: relative;
    input {
        width: 300px;
        box-shadow: $shahow;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: $padding;
        border: 0;
        font-size: 15px;
        &:focus {
            outline: none;
        }
    }
    ul {
        list-style-type: none;
        text-align: left; // padding: 0px 0px $padding 0px;
        padding: 0;
        margin: 0px;
        a {
            display: block;
            width: 100%;
            text-decoration: none;
            color: #000;
        }
        li {
            padding: 3px $padding;
            &:hover {
                background: #F6F6F6;
            }
        }
    }
    &.open {
        input {
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        }
    }
}

.lazee-suggestion {
    position: absolute;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}